<a href="https://colab.research.google.com/github/Shantanu-deo/Coursera_Capstone/blob/master/Latitude_and_Longitudes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# From previous question
# Create dataframe of Toronto neighbourhoods
import requests
from bs4 import BeautifulSoup
import pandas as pd

page = requests.get("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")
soup = BeautifulSoup(page.content, 'html.parser')

table = soup.find('tbody')
rows = table.select('tr')
row = [r.get_text() for r in rows]


df = pd.DataFrame(row)
df1 = df[0].str.split('\n', expand=True)
df2 = df1.rename(columns=df1.iloc[0])
df3 = df2.drop(df2.index[0])
df4 = df3[df3.Borough != 'Not assigned']
df5 = df4.groupby(['Postcode', 'Borough'], sort = False).agg(','.join)
df5.reset_index(inplace = True) 
df6 = df5.replace("Not assigned", "Queen's Park")
df6.head()

  Postcode           Borough                    Neighbourhood
0      M3A        North York                        Parkwoods
1      M4A        North York                 Victoria Village
2      M5A  Downtown Toronto         Harbourfront,Regent Park
3      M6A        North York  Lawrence Heights,Lawrence Manor
4      M7A      Queen's Park                     Queen's Park

In [2]:
# Get Geospacial data csv
url = "http://cocl.us/Geospatial_data"
df7 = pd.read_csv(url)
df7.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [3]:
# Rename the postcode column

df7.rename(columns={'Postal Code': 'Postcode'}, inplace=True)
df7.head()

  Postcode   Latitude  Longitude
0      M1B  43.806686 -79.194353
1      M1C  43.784535 -79.160497
2      M1E  43.763573 -79.188711
3      M1G  43.770992 -79.216917
4      M1H  43.773136 -79.239476

In [4]:
# Create a new dataframe by joining previous dataframe and this new dataframe
df8 = pd.merge(df6, df7, on='Postcode')
df8.head()

  Postcode           Borough  ...   Latitude  Longitude
0      M3A        North York  ...  43.753259 -79.329656
1      M4A        North York  ...  43.725882 -79.315572
2      M5A  Downtown Toronto  ...  43.654260 -79.360636
3      M6A        North York  ...  43.718518 -79.464763
4      M7A      Queen's Park  ...  43.662301 -79.389494

[5 rows x 5 columns]